name: bats

on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  GO_VERSION: "1.23"
  K8S_VERSION: "v1.32.0"
  KIND_VERSION: "v0.27.0"
  IMAGE_NAME: registry.k8s.io/networking/kube-network-policies
  KIND_CLUSTER_NAME: kind

jobs:
  bats_tests:
    runs-on: ubuntu-22.04
    name: Bats e2e tests
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Bats and bats libs
        id: setup-bats
        uses: bats-core/bats-action@3.0.0
      - name: Bats tests
        shell: bash
        env:
         BATS_LIB_PATH: ${{ steps.setup-bats.outputs.lib-path }}
         TERM: xterm
        run: bats -o _artifacts tests/

      - name: Upload logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: kind-logs-${{ env.JOB_NAME }}-${{ github.run_id }}
          path: ./_artifacts
 